[package]
authors = ["Kornel <pornel@pornel.net>"]
categories = ["multimedia::images", "command-line-utilities"]
description = "Measures structural similarity between images using a multi-scale variant of the SSIM algorithm."
documentation = "https://docs.rs/dssim"
homepage = "https://kornel.ski/dssim"
include = ["README.md", "Cargo.toml", "tests/*.png", "src/*.rs"]
keywords = ["ssim", "image", "comparison"]
license = "AGPL-3.0"
name = "dssim"
readme = "README.md"
repository = "https://github.com/pornel/dssim.git"
version = "2.10.1"
edition = "2018"

[[bin]]
doctest = false
name = "dssim"
path = "src/main.rs"

[dependencies]
getopts = "0.2.21"
imgref = "1.6.1"
itertools = "0.9.0"
lodepng = "2.6.0"
rayon = "1.3.0"
rgb = "0.8.18"

[lib]
doctest = false
name = "dssim"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
