[package]
authors = ["Kornel <pornel@pornel.net>"]
categories = ["multimedia::images", "command-line-utilities"]
description = "Tool that measures structural similarity between images using a multi-scale variant of the SSIM algorithm."
documentation = "https://docs.rs/dssim"
homepage = "https://kornel.ski/dssim"
include = ["README.md", "Cargo.toml", "src/*.rs", "LICENSE"]
keywords = ["ssim", "image", "comparison", "visual", "benchmark"]
license = "AGPL-3.0"
name = "dssim"
readme = "README.md"
repository = "https://github.com/kornelski/dssim.git"
version = "2.11.5"
edition = "2018"

[[bin]]
doctest = false
name = "dssim"
path = "src/main.rs"

[dependencies]
dssim-core = { path = "./dssim-core", version = "2.11.4" }
imgref = "1.7.0"
getopts = "0.2.21"
rayon = "1.5.0"
rgb = "0.8.25"
lodepng = "3.2.2"
load_image = { version = "2.12.1", features = ["static"] }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[workspace]
members = [
    "dssim-core"
]
